.jumbotron{
	background-image: url(4.jpg);
	text-align: center;
	color: white;
	
	text-shadow: 2px 2px 2px #000000;
}
.tengah2 {
   text-align: center;
   vertical-align: middle;
   line-height: 300px;
   background: #ccc;
}